@font-face {
  font-family: "Didact Gothic";
  src:
    url("/fonts/DidactGothic/DidactGothic-Regular.ttf") format("truetype"),
    url("/fonts/DidactGothic/DidactGothic-Regular.woff") format("woff"),
    url("/fonts/DidactGothic/DidactGothic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
