@mixin theme ($name, $background, $foreground) {
  $font: 'Didact Gothic', 'Helvetica', 'Arial', 'sans-serif';
  $active: #ffb86c;

  body.#{$name} {
    color: $foreground;
    background-color: $background;
    font-family: $font;

    .theme-switcher[data-theme=#{$name}] {
      display: none;
    }

    .theme-switcher {
      background-color: transparent;
      border: none;
      outline: none;

      svg {
        color: $foreground;
      }
    }

    p {
      text-align: justify;

      a {
        border-bottom: 1px solid $foreground;
      }

      a:hover {
        border-bottom: 1px solid $active;
      }
    }

    a {
      color: $foreground;
    }
  }

  // Highlight items
  a:hover {
    color: $active !important;
  }

  nav {
    li:before {
      color: $active !important;
    }
  }
}

.theme-switcher-collection {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
