footer {
  text-align: center;
  margin: auto;
  width: 65%;

  @media screen and (max-width: 736px) {
    width: 100%;
  }

  nav {
    margin: 1rem 0;

    ul {
      li {
        display: inline;
        padding: .5rem;

        a {
          font-size: 1rem !important;
        }
      }

      li:before {
        font-size: 1rem !important;
        margin-right: 5px !important;
      }
    }
  }

  hr {
    margin: 1.5rem 0;
  }

  #copyright {
    font-size: .8rem;
  }
}
