@import "reset";
@import "fonts";
@import "variables";
@import "theme";
@import "pages";
@import "nav";
@import "footer";

@include theme('dark', $background, $foreground);
@include theme('light', $foreground, $background);

#content {
  padding: 10rem 25%;

  @media screen and (max-width: 736px) {
    padding: 10rem 5%;
  }
}

#index-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25%;

  @media screen and (max-width: 736px) {
    padding: 10rem 5%;
  }
}

// Layout
h1, h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 1.35rem;
}
