$size: 3rem;

nav {
  li {
    margin-bottom: 2rem;
  }

  a {
    font-size: $size;
  }
}


nav:not(.socials) {
  li:before {
    content: "\2215";
    margin-right: 15px;
    font-size: $size;
  }
}
