article {
  margin-bottom: 2.5rem;

  h1, h2 {
    margin-bottom: 3.5rem;
  }

  h3 {
    margin: 1.5rem 0 0.7rem;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
  }

  p:last-of-type {
    margin-bottom: 1rem;
  }
}
