<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}}
  </head>

  <body class="dark">
    {{- partial "theme-switcher.html" }}
    {{- partial "header.html" . -}}

    <div id="{{ if .IsHome }}index-{{ end }}content">
      {{- block "main" . }}{{- end }}

      {{ if eq .IsHome false }}
        {{- partial "footer.html" . -}}
      {{ end }}
    </div>
  </body>
</html>
