<footer>
    <hr>
    <nav class="socials">
        <ul>
          {{ range .Site.Params.social }}
            <li>
              <a href="{{ .url }}" title="{{ .name }}" rel="noopener" target="_blank">{{ .name }}</a>
            </li>
          {{ end }}
        </ul>
    </nav>

    {{ partial "menu" . }}
    <div class="text-centered" id="copyright">
        Copyright &#xA9; {{ .Site.LastChange.Format "2006" }} {{ .Site.Params.author }}. All Rights Reserved. <br />

        View the source code for this website on
        <a href="https://gitlab.com/whoisniek/niekkeijzer.com" rel="noopener" title="Website source code on Gitlab">Gitlab</a>.
    </div>
</footer>
