<nav role="main">
  <ul>
    {{ if eq .IsHome false }}
      <li>
        {{ with .Site.Home }}
          <a href="{{ .URL }}" title="{{ .Title }}">Home</a>
        {{ end }}
      </li>
    {{ end }}

    {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>
</nav>
